@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Exo:400,600,700,800);
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
/* 
@media print{
  body{
      width: 3508px;
      height: 2480px;
      font-size: 0.75rem;
  }
} */

@media print {
  ::first-letter{
    margin: 0;
    padding: 0;
  }
  html {
    &, body {
      margin: 0;
      background: #fff;
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 11px;
    }
  }
  .container {
    padding: 0 !important;
    margin:0 !important;
    width: 100% !important;
    max-width: none !important;
    min-width: unset !important;
  }

  @page {
    size: 8.5in 11in;
    margin: 0.25in;
  }
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear {
  margin: 0;
}
.mg-xs {
  margin-top: 0.5rem;
}
.mg-sm {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.mg-md {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

/* LEFT */
@media screen {
  .left-col {
    background-color: #f2f3f2;
    padding: 3rem 32px 2rem 32px !important;
  }
  .left-col-content {
    height: 1506px;
  }
}
@media print {
  .left-col-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 33%;
    height: 100%;
    background-color: #f2f3f2;
    padding: 3rem 32px 2rem 32px !important;
  }
  .left-col-content {
    height: 100%;
  }
}
.name-text {
  font-family: "Exo", "Open Sans", sans-serif;
  color: #5cbc44 !important;
  font-size: 3rem;
  line-height: 1 !important;
}
.position-text {
  font-family: "Exo", "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #000000 !important;
}
.summary-text {
  max-height: 300.5px;
  margin-bottom: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.img-avatar {
  border-color: #5cbc44 !important;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  width: 15rem;
  height: 15rem;
}
.img-qr {
  width: 7.3rem;
  height: 7.3rem;
}
.text-contact {
  font-family: "Exo", "Open Sans", sans-serif;
  font-size: 0.8rem;
}
/* RIGHT */
.right-col {
  background-color: #ffffff;
  padding: 0.5rem 1rem !important;
  font-size: 0.9rem;
}
.table-header {
  background-color: #5cbc44;
  /* height: 1.6rem; */
}
.table-header-text {
  color: #ffffff !important;
}
.table-row {
  padding-bottom: 12px;
  padding-top: 12px;
  page-break-inside: avoid;
}
.table-row-thin {
  padding-bottom: 4px;
  padding-top: 4px;
  page-break-inside: avoid;
}
/*
.table-divider {
height:4px;
}
*/
.table-index-style {
  color: #000000 !important;
}
.table-label-style {
  color: #fc8304 !important;
  font-size: 1.1rem;
}
.table-sublabel-style {
  color: #5cbc44 !important;
}
.skill-col-left,
.skill-col-right {
  page-break-inside: avoid;
}
.skill-block {
  page-break-inside: avoid;
}
.bar-bg {
  background-color: #24be28;
  height: 4px;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 576px) {
  .skill-col-left {
    padding-right: 6px !important;
  }
  .skill-col-right {
    padding-left: 6px !important;
  }
}
hr {
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}
/* FOOTER */
.footer-padding {
  height: 75px;
}
.footer {
  opacity: 0.5;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
}

section {
  margin-bottom: 0.5rem;
}
.item {
  margin-bottom: 1rem;
}
#resume {
  min-height: 100vh;
}
.row{
  --bs-gutter-x: 0
}